#############################
# Python
#############################

__pycache__/
*.py[cod]
*.pyo

#############################
# Conda / Virtual Env
#############################

.env
.venv

#############################
# VSCode
#############################

.vscode/

#############################
# Python cache
#############################

.pytest_cache/
.mypy_cache/

#############################
# Models
#############################

data/models/**/*.pth
data/models/**/*.pt

#############################
# Outputs
#############################

data/outputs*/
data/web_outputs/
data/uploads/

#############################
# Raw datasets
#############################

data/raw/*.csv

#############################
# Next.js
#############################

web/node_modules/
web/.next/
web/out/

#############################
# OS
#############################

Thumbs.db
.DS_Store